.navbar{
    position: fixed;
    width: 100%;
    background:var(--background-color);
    z-index: 1000;
}
.navbar-container{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}
.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
}
.navbar-logo img {
    width: 70px;
    height: 70px;
    margin-right: 50px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
}
.navbar-menu li a{
    text-decoration: none;
    color: rgb(255 255 255 / 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.navbar-menu li a:hover{
    color: rgb(255 255 255 );
}
.navbar-menu li .btn{
    /* border: 1px solid var(--text-color); */
    border-radius: 30px;
    color: #fff;
    background-color: rgb(255 45 32 / 1);
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.navbar-menu li .btn:hover{
    background-color: rgb(207, 51, 43);
}
.navbar-menu li .btn:active {
    transform: translateX(2px);
}
.mobile-nav{
    display: none;
}
.mobile-nav svg{
    background: #18181b ;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgba(23, 22, 22, 0.52);
    border-radius: 50%;
    border: 1px solid rgba(80, 91, 102, 0.6);
}
@media only screen and (max-width: 750px){
    .navbar-menu{
        display: none;
    }
    .mobile-nav{
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}